@model ClotheShop.Models.sanPham
@{
	ClotheShop.Models.onlineTradeEntities1 db = new ClotheShop.Models.onlineTradeEntities1();
	ViewBag.Title = "Sửa Sản Phẩm";
	Layout = "~/Areas/Admin/Views/Shared/layout.cshtml";
}

<div style="margin:20px 350px">
	<form action="/Admin/QuanLySP/Sua" method="post" enctype="multipart/form-data">
		<div class="login-do">
			<select name="danhCho">
				<option value="@Model.danhCho">@db.sanPhams.FirstOrDefault(c => c.danhCho == Model.danhCho).danhCho</option>
				@if (@Model.danhCho == "women")
				{
					<option value="men">men</option>
					<option value="kids">kids</option>
				}
				@if (@Model.danhCho == "men")
				{
					<option value="women">women</option>
					<option value="kids">kids</option>
				}
				@if (@Model.danhCho == "kids")
				{
					<option value="women">women</option>
					<option value="men">men</option>
				}
			</select>
			<div class="login-mail" style="border:none">
				<input style="display:none" type="text" name="maSP" value="@Model.maSP">
			</div>
			<select name="maLoai" style="margin-bottom:40px">
				<option value="@Model.maLoai">@db.loaiSPs.FirstOrDefault(c => c.maLoai == Model.maLoai).tenLoai</option>
				@foreach (var i in db.loaiSPs)
				{
					if (i.maLoai != Model.maLoai)
					{
						<option value="@i.maLoai">@i.tenLoai</option>
					}
				}
			</select>
			<div class="login-mail">
				<input type="text" placeholder="Tên sản phẩm" name="tenSP" value="@Model.tenSP">
			</div>
			<div class="login-mail">
				<input type="number" placeholder="Giá bán" name="giaBan" value="@Model.giaBan">
			</div>
			<div class="login-mail">
				<input type="text" placeholder="Đơn vị tiền" name="dvt" value="@Model.dvt">
			</div>
			<div class="login-mail">
				<input type="number" placeholder="Số lượng" name="soLuong" value="@Model.soLuong">
			</div>
			<div class="login-mail">
				<input type="file" name="file" />
			</div>
			<label class="hvr-skew-backward">
				<input type="submit">
			</label>
			<p>@ViewBag.Error</p>
		</div>
	</form>
</div>